.chat-window {
  background: var(--green-mid);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-actions{
  display: flex;

}

.chat-actions button {
  margin-left: 10px;
  background: var(--green-soft);
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
}

.chat-call, .chat-more {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--green-soft);
  border: none;
  padding: 12px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.chat-call img, .chat-more img{
  height: 20px;
}

.messages {
  flex: 1;        
  overflow-y: auto; 
}

.msg {
  max-width: 60%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.received {
  background: #3e6b54;
}

.sent {
  background: #bfc5c1;
  color: black;
  margin-left: auto;
}

.chat-input {
  display: flex;
  align-items: center;    
  justify-content: space-between; 
  background: var(--green-soft);
  border-radius: 30px;
  padding: 8px 15px;
  gap: 10px;     
}

.chat-input button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat-input img {
  width: 20px;     
  height: 20px;
  object-fit: contain;
}

.chat-input input {
  flex: 1;           
  border: none;
  background: transparent;
  padding: 8px;
  font-size: 14px;
  color: black;
}

.back, .plus img, .send img{
  height: 20px;
}


@media (min-width: 769px) {
  .back {
    display: none;   
  }

  .back {
    gap: 0;         
    padding: 10px;   
  }
}

@media (max-width: 768px) {
  .chat-call p {
    display: none;   
  }

  .chat-call {
    gap: 0;         
    padding: 10px;   
  }
}
