.navbar {
  width: 100%;
  height: calc(11vh - 10px);
  background: #ffff;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo{
  width: 45px;   
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
}

.add-friend {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #bbbbbb;
  border: none;
  padding: 5px 20px;
  border-radius: 30px;
}

.nav-right {
  display: flex;
  gap: 25px;
}

.nav-icon {
  width: 35px;        
  overflow: hidden;     
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
}

@media (max-width: 768px) {
  .add-friend p {
    display: none;   
  }

  .add-friend {
    gap: 0;         
    padding: 10px;   
  }
}
